<div class="form-container">
  <!-- Bouton retour style iOS -->
  <button class="back-button" (click)="goBack()">
    <span class="arrow">‹</span> Retour
  </button>

  <h2>Informations de la venue</h2>

  <form [formGroup]="formulaire" (ngSubmit)="submitForm()">
    <!-- Nouveau champ : choix du colocataire -->
    <div class="form-group">
      <label for="roommate">Choisis ton coloc :</label>
      <select id="roommate" formControlName="roommate">
        <option value="paul">Paul</option>
        <option value="raff">Raff</option>
        <option value="H">H</option>
      </select>
    </div>

    <!-- Nouveau champ : date de la venue -->
    <div class="form-group">
      <label for="date">Sélectionne une date :</label>
      <input type="date" id="date" formControlName="date">
    </div>

    <div class="form-group">
      <label for="jours">Nombre de jours de la venue</label>
      <input type="number" id="jours" formControlName="jours">
    </div>

    <div class="form-group">
      <label for="nomPrenom">Nom & Prénom</label>
      <input type="text" id="nomPrenom" formControlName="nomPrenom">
    </div>

    <div class="form-group">
      <label for="telephone">Numéro de téléphone</label>
      <input type="tel" id="telephone" formControlName="telephone">
    </div>

    <div class="form-group">
      <label for="contribution">Ce que tu apportes à la coloc</label>
      <textarea id="contribution" formControlName="contribution"></textarea>
    </div>

    <button type="submit">Valider</button>
  </form>
  <!-- Popup plein écran -->
<div *ngIf="isPopup" class="popup-overlay">
  <div class="popup-content">
    <div class="spinner"></div>
    <p>Le système a détecté une anomalie<br>veuillez patienter...</p>
  </div>
</div>
<div *ngIf="secondPopup" class="popup-overlay">
  <div class="popup-content">
    <h2 class="popup-title">ÊTES VOUS BIEN {{ prenom }} ?</h2>
    <img [src]="imageSrc" alt="Photo de {{ prenom }}" class="popup-image" />

    <div class="slider-container" [formGroup]="formulaire">
      <input 
        type="range" 
        min="0" 
        max="100" 
        formControlName="slider"
        (input)="validateIdentity()"
      />
      <div class="slider-text">Oui</div>
    </div>
  </div>
</div>

</div>
