<div class="container">
    <h1>AirBnBeer</h1>
    <div class="logo-section">
        <div class="input-box button-box">
            <button id="presentationButton" (click)="goToPres()">Présentation de la coloc</button>
        </div>
    </div>
    <div class="input-box button-box">
        <button id="nextButton" (click)="goToFormulaire()">Fais ta réservation</button>
    </div>
    <div class="footer">
        <p id="admin" (click)="goToAdmin()">Je suis un des colocs</p>
        Partenaire non officiel sur le bail mais toujours présent sur les factures*<br>
        *Pour votre santé, levez le coude au moins cinq fois par jour.
    </div>
</div>